sudo: false
language: php
php:
- '5.5'
- '5.6'
- '7.0'
- '7.1'
- hhvm
notifications:
  email: false
  slack:
    secure: EO2s9RZiCroLbMtsHn+ls+7yZ0xe/NU0SwS0BQdI7C656fEfCUA7YwT3t/KBA7wDWXE+NRSZbxGzPlA3OxJSMPG1bWraFHjHov9Ip+0Ekbp56XfmZYcMXjxO9McW70syVwTTo5SyGGAv6MURmNc2DkkSFWpcuRqccfFCDHiHMqdDrThj9Pq/XU4W21m+2JI8iC+WlwIxOf2eu8wgf1NsDh2MbxuK/+bQ6XRd3R/m0ht1i52u8190HUTFJ3epSAaX0qnZK5XEo+fHXmR1hHNSITwsDLrGoQ9o9Pu1JAXaJdSRTJpOCFdgIY9oqcSRlneStAbCw4xeEwlgutq77ASVwm/3epAMTWbfJe1a6bfAzh8xvyj/gTT7eI3uQ6GDh6+4gfGZNUKehmWU3Qgb4SLQXmmwaL3CRFedpTq8BhRb+zgVhESuXCBwsFdqMZ4OrcH4I4SpTEDirXmAdXXjeK8IqFsPiYhmoCPD8TC0LGXjsW5vXv8XTAcaL9CdruGUjr+WXyETGKGRsAEHLNRBZcb+Jfq+NczeeTd3Nj4EcW1by/d1uAhc6eVRqXf9FkiXDZQWpOhX54WYIobSSWDsGqGd5UcoS4IHZhaejD3I+zeqopFdLp2RuWCtdbzVWAMF4upLjwimVAM3p+3fYzia/rBlDvjgvf9qF6L3F7tsFEsA3ys=
before_script:
- composer require phpunit/phpunit:4.8.* php-coveralls/php-coveralls
- composer install --no-interaction
script: vendor/bin/phpunit
after_script:
- travis_retry php vendor/bin/php-coveralls -v
