<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheResult="true"
    failOnWarning="false"
    failOnRisky="false"
    failOnIncomplete="false"
    failOnSkipped="false">
    <testsuites>
        <testsuite name="Backend Proxy Test Suite">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory suffix=".php">./vendor</directory>
        </exclude>
    </source>
</phpunit>
